useDynLib(stochQN, .registration=TRUE)
S3method(coef,stoch_logistic)
S3method(predict,stochQN_guided)
S3method(predict,stoch_logistic)
S3method(print,SQN)
S3method(print,SQN_free)
S3method(print,adaQN)
S3method(print,adaQN_free)
S3method(print,oLBFGS)
S3method(print,oLBFGS_free)
S3method(print,stoch_logistic)
S3method(summary,stoch_logistic)
export(SQN)
export(SQN_free)
export(adaQN)
export(adaQN_free)
export(get_curr_x)
export(get_iteration_number)
export(oLBFGS)
export(oLBFGS_free)
export(partial_fit)
export(partial_fit_logistic)
export(run_SQN_free)
export(run_adaQN_free)
export(run_oLBFGS_free)
export(stochastic.logistic.regression)
export(update_fun)
export(update_gradient)
export(update_hess_vec)
importFrom(parallel,detectCores)
importFrom(stats,coef)
importFrom(stats,model.matrix)
importFrom(stats,predict)
importFrom(stats,rnorm)
importFrom(stats,runif)
importFrom(stats,terms)
